<div>
  <mat-form-field>
    <input matInput placeholder="Message" [(ngModel)]="content" required #contentInput/>
    <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <button mat-button (click)="saveMessage(content)">Save</button>
</div>
<div class="example-container mat-elevation-z8">

  <table class="mat-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>TimeStamp</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.Id}}</td>
      <td>{{message.Content}}</td>
      <td>{{message.TimeStamp | amTimeAgo}}</td>
      <td><button mat-button (click)="openDialog(message.Id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>


